PORT=

ENCRYPTION_SECRET_KEY=""
JWT_SECRET_KEY=""
JWT_EXPIRES_IN=""
REFRESH_JWT_SECRET_KEY=""
REFRESH_JWT_EXPIRES_IN=""


# Google auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

FRONTEND_URL=""


STRIPE_SECRET_KEY=
STRIPE_MONTHLY_PLAN_LINK=
STRIPE_YEARLY_PLAN_LINK=
STRIPE_MONTHLY_PRICE_ID=
STRIPE_YEARLY_PRICE_ID=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public"

VAK_CLASSIFICATION_MICROSERVICE_URL=